:root {
  --color-blue: #2196f3;
  --border-radius: 4px;
}

body {
  font-family: "Roboto";
  color: #ffffff;
  font-size: 14px;
}

.list {
  list-style-type: none;
}

span {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: calc(31 / 26);
  letter-spacing: 0.03em;
  color: var(--color-blue);
}
.link-logo {
  font-weight: 700;
  color: #000000;
  font-size: 26px;
  line-height: calc(31 / 26);
  letter-spacing: 0.03em;
  text-decoration: none;
}
.link-nav {
  font-weight: 500;
  text-decoration: none;
  line-height: calc(16 / 14);
  letter-spacing: 0.02em;
  color: #212121;

}

.link-nav:hover,
.link-nav:focus{
  color: var(--color-blue);
}

.link-nav-p {
  font-weight: 500;
  text-decoration: none;
  line-height: calc(16 / 14);
  letter-spacing: 0.02em;
  color: var(--color-blue);
}
.link-m {
  font-weight: 500;
  line-height: calc(16 / 14);
  letter-spacing: 0.02em;
  color: #757575;
  text-decoration: none;
}
.link-m:hover,
.link-m:focus {
 
  color: var(--color-blue);
}

.link-tel {
  font-weight: 500;
  line-height: calc(16 / 14);
  letter-spacing: 0.02em;
  color: #757575;
  text-decoration: none;
}
.link-tel:hover,
.link-tel:focus {
  color: var(--color-blue);
}
.filter-btn {
  font-family:inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: calc(26 / 16);
  letter-spacing: 0.03em;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  background: #f5f4fa;
  border-radius: var(--border-radius);
  cursor: pointer;
}
.filter-btn:hover,
.filter-btn:focus {
  background: var(--color-blue);
  color: #ffffff;
}
.filter-btn-one{
  font-family:inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: calc(26 / 16);
  letter-spacing: 0.03em;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  background:var(--color-blue);
  border-radius: var(--border-radius);
  cursor: pointer;

}

.filter-btn-one:hover,
.filter-btn-one:focus{
  background: var(--color-blue);
  color: #ffffff;

}
.item-project {
  background: #ffffff;
  border: 1px solid #eeeeee;
}

.title-project {
  font-size: 18px;
  line-height: calc(36 / 18);
  letter-spacing: 0.06em;
  color: #212121;
}
.text-project {
  font-size: 16px;
  line-height: calc(30 / 16);
  letter-spacing: 0.03em;
  color: #757575;
}

.footer {
  background: #2f303a;
}
.contacts-adress {
  font-style: normal;
}

.link-logo-footer {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: calc(31 / 26);
  letter-spacing: 0.03em;
  color: var(--color-blue);
  text-decoration: none;
  color: #ffffff;
}
.link-adres {
  text-decoration: none;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
  color: #ffffff;
}
