:root {
  --color-blue: #2196f3;
  --border-radius: 4px;
}

body {
  font-family: "Roboto";
  color: #ffffff;
  font-size: 14px;
}

header {
  border-bottom: 1px solid #ececec;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.conteiner {
  width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}
.header-cont {
  display: flex;
}
.header-nav {
  display: flex;
  align-items: center;
  margin-right: auto;
}
.list-nav {
  display: flex;
  align-items: center;
  gap: 50px;
}
.list-nav-adres {
  display: flex;
  align-items: center;
  gap: 50px;
  padding: 32px 0;
}

span {
  font-family: "Raleway";
  font-size: 26px;
  line-height: calc(31 / 26);
  color: var(--color-blue);
}
.link-logo {
  margin-right: 93px;
  padding-top: 24px;
  padding-bottom: 25px;
  font-weight: 700;
  color: #000000;
  font-size: 26px;
  line-height: calc(31 / 26);
  letter-spacing: 0.03em;
  text-decoration: none;
}
.link-nav {
  font-weight: 500;
  text-decoration: none;
  line-height: calc(16 / 14);
  letter-spacing: 0.02em;
  color: #212121;
  display: inline-block;
  padding: 32px 0;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link-nav:hover,
.link-nav:focus {
  color: var(--color-blue);
}

.link-nav-p {
  position: relative;
  font-weight: 500;
  text-decoration: none;
  line-height: calc(16 / 14);
  letter-spacing: 0.02em;
  color: var(--color-blue);
  padding: 32px 0;
}
.link-nav-p::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  bottom: 0;
  right: 0;
  background: #2196f3;
  border-radius: 2px;
}

.link-m {
  display: flex;
  align-items: center;
  font-weight: 500;
  line-height: calc(16 / 14);
  letter-spacing: 0.02em;
  color: #757575;
  text-decoration: none;
  gap: 10px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.link-m:hover,
.link-m:focus {
  color: var(--color-blue);
}
.icon-header {
  fill: currentColor;
}

.link-tel {
  display: flex;
  align-items: center;
  font-weight: 500;
  line-height: calc(16 / 14);
  letter-spacing: 0.02em;
  color: #757575;
  text-decoration: none;
  gap: 10px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.link-tel:hover,
.link-tel:focus {
  color: var(--color-blue);
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.list-filters {
  display: flex;
  justify-content: center;
  gap: 8px;
  margin: 0px;
  padding: 0px;
}

.filter-btn {
  padding: 6px 22px;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: calc(26 / 16);
  letter-spacing: 0.03em;
  background: #f5f4fa;
  border-radius: var(--border-radius);
  cursor: pointer;
  border: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);



}


.filter-btn:hover,
.filter-btn:focus {
  background: var(--color-blue);
  color: #ffffff;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
.filter-btn-one {
  padding: 6px 25px;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: calc(26 / 16);
  letter-spacing: 0.03em;
  background: #f5f4fa;
  border-radius: var(--border-radius);
  cursor: pointer;
  border: none;
}

.filter-btn-one:hover,
.filter-btn-one:focus {
  background: var(--color-blue);
  color: #ffffff;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
.project {
  margin-top: 50px;
  padding-bottom: 0px;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.list-project {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  padding: 0px;
  margin: 0px;
}

.item-project:hover,.item-project:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}


img {
  display: block;
  max-width: 100%;
  height: auto;
}

.item-project {
  flex-basis: calc((100% - 60px) / 3);
  background: #ffffff;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link-project {
  text-decoration: none;
}

.modal-project {
  position: relative;
  overflow: hidden;
}

.overlay {
  content: "";
  position: absolute;
  display: inline-block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 63px 24px;
  background: rgba(33, 150, 243, 0.9);
  transform: translateY(100%);

  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.item-project:hover .overlay,.item-project:focus.overlay {
  transform: translateY(0);
}

.overlay-text {
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.tumb {
  border: 1px solid #eeeeee;
  border-top: 0px;
  padding: 20px 24px;
}
.title-project {
  margin-bottom: 4px;
  font-size: 18px;
  line-height: calc(36 / 18);
  letter-spacing: 0.06em;
  color: #212121;
}
.text-project {
  font-size: 16px;
  line-height: calc(30 / 16);
  letter-spacing: 0.03em;
  color: #757575;
}

.footer {
  background: #2f303a;
  padding: 60px 0px;
}

.conteiner-footer {
  display: flex;
  align-items: baseline;
}
.adress-footer {
  margin-right: 70px;
}

.title-social {
  font-weight: 700;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 20px;

  color: #ffffff;
}

.list-social-footer {
  display: flex;
}

.contacts-adress {
  font-style: normal;
}

.link-logo-footer {
  display: block;
  margin-bottom: 20px;
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: calc(31 / 26);
  color: var(--color-blue);
  text-decoration: none;
  color: var(--color-white);
}
.footer li {
  margin-bottom: 9px;
}
footer li:last-child {
  margin-bottom: 0;
}
.link-adres {
  font-family: "Roboto";
  text-decoration: none;
  line-height: calc(24 / 14);
  color: var(--color-white);
}

.link-footer {
  font-weight: 400;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.link-footer:hover,
.link-footer:focus {
  color: var(--color-blue);
}




.item-social-footer {
  display: flex;
  gap: 10px;
  color: var(--color-white);
}

.link-social-footer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  color: var(--color-white);
  transition:  background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.icon-social-footer {
  fill: currentColor;
}

.link-social-footer:hover {
  background-color: var(--color-blue);
}
