:root {
  --color-blue: #2196f3;
  --border-radius: 4px;
}

body {
  font-family: "Roboto";
  color: #ffffff;
  font-size: 14px;
}

.list {
  list-style-type: none;
}
.conteiner {
  width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}
.header-cont {
  display: flex;
}
.header-nav {
  display: flex;
  align-items: center;
  margin-right: auto;
}
.list-nav {
  display: flex;
  align-items: center;
  gap: 50px;
  margin-left: 93px;
  margin: 0px;
  padding: 0px;
}
.list-nav-adres {
  display: flex;
  align-items: center;
  gap: 50px;
  margin: 0px;
  padding: 0px;
}

span {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: calc(31 / 26);
  letter-spacing: 0.03em;
  color: var(--color-blue);
}
.link-logo {
  margin-right: 93px;
  font-weight: 700;
  color: #000000;
  font-size: 26px;
  line-height: calc(31 / 26);
  letter-spacing: 0.03em;
  text-decoration: none;
}
.link-nav {
  font-weight: 500;
  text-decoration: none;
  line-height: calc(16 / 14);
  letter-spacing: 0.02em;
  color: #212121;
  display: inline-block;
  padding: 32px 0;
}

.link-nav:hover,
.link-nav:focus {
  color: var(--color-blue);
}

.link-nav-p {
  font-weight: 500;
  text-decoration: none;
  line-height: calc(16 / 14);
  letter-spacing: 0.02em;
  color: var(--color-blue);
}
.link-m {
  font-weight: 500;
  line-height: calc(16 / 14);
  letter-spacing: 0.02em;
  color: #757575;
  text-decoration: none;
}
.link-m:hover,
.link-m:focus {
  color: var(--color-blue);
}

.link-tel {
  font-weight: 500;
  line-height: calc(16 / 14);
  letter-spacing: 0.02em;
  color: #757575;
  text-decoration: none;
}
.link-tel:hover,
.link-tel:focus {
  color: var(--color-blue);
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.filters {
  margin-top: 94px;
}
.list-filters {
  display: flex;
  justify-content: center;
  gap: 8px;
  margin: 0px;
  padding: 0px;
}

.filter-btn {
  padding: 6px 22px;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: calc(26 / 16);
  letter-spacing: 0.03em;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  background: #f5f4fa;
  border-radius: var(--border-radius);
  cursor: pointer;
  border: none;
}
.filter-btn:hover,
.filter-btn:focus {
  background: var(--color-blue);
  color: #ffffff;
}
.filter-btn-one {
  padding: 6px 25px;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: calc(26 / 16);
  letter-spacing: 0.03em;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  background: var(--color-blue);
  border-radius: var(--border-radius);
  cursor: pointer;
}

.filter-btn-one:hover,
.filter-btn-one:focus {
  background: var(--color-blue);
  color: #ffffff;
}
.project {
  margin-top: 34px;
}

.list-project {
  display: flex;
  flex-wrap: wrap;
  padding: 0px;
  margin: 0px;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.item-project {
  background: #ffffff;
  border: 1px solid #eeeeee;
}
.tumb {
  padding: 20px 24px;
}
.title-project {
  margin-bottom: 4px;
  font-size: 18px;
  line-height: calc(36 / 18);
  letter-spacing: 0.06em;
  color: #212121;
}
.text-project {
  font-size: 16px;
  line-height: calc(30 / 16);
  letter-spacing: 0.03em;
  color: #757575;
}

.footer {
  background: #2f303a;
}
.footer-cont {
  display: flex;
  flex-direction: column;
  padding: 60px 0px;
  margin-top: 94px;
}
.contacts-adress {
  font-style: normal;
}

.link-logo-footer {
  padding-bottom: 20px;
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: calc(31 / 26);
  letter-spacing: 0.03em;
  color: var(--color-blue);
  text-decoration: none;
  color: #ffffff;
}
.list {
  display: flex;
  flex-direction: column;
  gap: 9px;
  margin: 0px;
  padding: 0px;
}
.link-adres {
  text-decoration: none;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
  color: #ffffff;
}
