:root {
  --color-blue: #2196f3;
  --color-p: #757575;
  --color-h: #212121;
  --color-white: #ffffff;
}

body {
  font-family: "Roboto";
  color: #f5f5f5;
  font-size: 14px;
  letter-spacing: 0.03em;
}
.conteiner {
  width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}
.header-cont {
  display: flex;
}
.header-nav {
  display: flex;
  align-items: center;
  margin-right: auto;
}
.list-nav {
  display: flex;
  gap: 50px;
  align-items: center;
  margin-left: 93px;
  margin: 0px;
  padding: 0px;
}
.list-nav-adres {
  display: flex;
  align-items: center;
  gap: 50px;
  margin: 0px;
  padding: 0px;
}

span {
  font-family: "Raleway";
  font-size: 26px;
  line-height: calc(31 / 26);
  color: var(--color-blue);
}
.list {
  list-style-type: none;
}

.link-logo {
  color: #000000;
  font-weight: 700;
  font-size: 26px;
  line-height: calc(31 / 26);
  text-decoration: none;
  margin-right: 93px;
}

.link-nav {
  text-decoration: none;
  font-weight: 500;
  line-height: calc(16 / 14);
  letter-spacing: 0.02em;
  color: var(--color-h);
  display: inline-block;
  padding: 32px 0;
}

.link-nav-s {
  text-decoration: none;
  font-weight: 500;
  line-height: calc(16 / 14);
  letter-spacing: 0.02em;
  color: var(--color-blue);
}

.link-nav:hover,
.link-nav:focus {
  color: var(--color-blue);
}
.link-m {
  font-weight: 500;
  line-height: calc(16 / 14);
  letter-spacing: 0.02em;
  color: var(--color-p);
  text-decoration: none;
}
.link-m:hover,
.link-m:focus {
  color: var(--color-blue);
}

.link-tel {
  font-weight: 500;
  line-height: calc(24 / 14);
  letter-spacing: 0.02em;
  color: var(--color-p);
  text-decoration: none;
}
.link-tel:hover,
.link-tel:focus {
  color: var(--color-blue);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
.hero {
  background: #2f303a;
  padding: 200px 0;
  text-align: center;
}

.hero-title {
  width: 696px;
  margin-left: auto;
  margin-right: auto;
  font-weight: 900;
  font-size: 44px;
  line-height: calc(60 / 44);
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--color-white);
}

.button {
  margin-top: 30px;
  padding: 10px 32px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1, 88;
  letter-spacing: 0.06em;
  color: var(--color-white);
  background: var(--color-blue);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
}
.skills {
  padding: 94px 0;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.list-skiills {
  display: flex;
  gap: 30px;
  margin: 0px;
  padding: 0px;
}
.title-skills {
  font-size: 14px;
  line-height: calc(16 / 14);
  text-transform: uppercase;
  color: var(--color-h);
}

.text-skills {
  margin-top: 10px;
  width: 270px;
  height: 72px;
  line-height: calc(24 / 14);
  color: var(--color-p);
}
.section {
  margin-bottom:  94px;
}
.title-about {
  margin-bottom: 50px;
  text-align: center;
  font-size: 36px;
  line-height: calc(42 / 36);
  color: var(--color-h);
}
.list-about {
  display: flex;
  margin: 0px;
  padding: 0px;
  gap: 30px;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
.comand {
  background-color: #f5f4fa;
 }
 .tumb{
  padding: 30px 0px;
 }
.title-comand {
  margin-bottom: 50px;
  text-align: center;
  font-size: 36px;
  line-height: calc(42 / 36);
  color: var(--color-h);
}
.list-comand {
  display: flex;
  margin: 0px;
  padding: 0px;
  gap: 30px;
}
.item-comand {
  background: var(--color-whit);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.title {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: calc(19 / 16);
  text-align: center;
  color: var(--color-h);
}
.text-comand {
  font-size: 16px;
  line-height: calc(19 / 16);
  text-align: center;
  color: var(--color-p);
}

.footer {
  background: #2f303a;
}
.footer-cont {
  display: flex;
  flex-direction: column;
  padding: 60px 0px;
  margin-top: 94px;
}

.contacts-adress {
  font-style: normal;
}
.link-logo-footer {
  padding-bottom: 20px;
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: calc(31 / 26);
  color: var(--color-blue);
  text-decoration: none;
  color: var(--color-white);
}
.list {
  display: flex;
  flex-direction: column;
  padding: 0px;
  margin: 0px;
  gap: 9px;
}
.link-adres {
  font-family: "Roboto";
  text-decoration: none;
  line-height: calc(24 / 14);
  color: var(--color-white);
}
