:root {
  --color-blue: #2196f3;
  --color-p: #757575;
  --color-h: #212121;
  --color-white: #ffffff;
}

body {
  font-family: "Roboto";
  color: #f5f5f5;
  font-size: 14px;
  letter-spacing: 0.03em;
}
.header-conteiner{
  width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}
  .header-cont{
    display: flex;
    justify-content: center;
  }

span {
  font-family: "Raleway";
  font-size: 26px;
  line-height: calc(31 / 26);
  color: var(--color-blue);
}
.list {
  list-style-type: none;
}
.list-nav-adres{}
 


.link-logo {
  color: #000000;
  font-weight: 700;
  font-size: 26px;
  line-height: calc(31 / 26);
  text-decoration: none;
}

.link-nav {
  text-decoration: none;
  font-weight: 500;
  line-height: calc(16 / 14);
  letter-spacing: 0.02em;
  color: var(--color-h);
}

.link-nav-s {
  text-decoration: none;
  font-weight: 500;
  line-height: calc(16 / 14);
  letter-spacing: 0.02em;
  color: var(--color-blue);
}



.link-nav:hover,
.link-nav:focus {
  color: var(--color-blue);
}
.link-m {
  font-weight: 500;
  line-height: calc(16 / 14);
  letter-spacing: 0.02em;
  color: var(--color-p);
  text-decoration: none;
}
.link-m:hover,
.link-m:focus {
  color: var(--color-blue);
}

.link-tel {
  font-weight: 500;
  line-height: calc(24 / 14);
  letter-spacing: 0.02em;
  color: var(--color-p);
  text-decoration: none;
}
.link-tel:hover,
.link-tel:focus {
  color: var(--color-blue);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
.hero {
  background: #2f303a;

}
.hero-title {
  
  font-weight: 900;
  font-size: 44px;
  line-height: calc(60 / 44);
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--color-white);
}
.button {
  font-weight: 700;
  font-size: 16px;
  line-height: 1, 88;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--color-white);
  background: var(--color-blue);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}
{
  display: flex;
}
.title-skills {
  font-size: 14px;
  line-height: calc(16 / 14);
  text-transform: uppercase;
  color: var(--color-h);
}

.text-skills {
  line-height: calc(24 / 14);
  color: var(--color-p);
}
.title-about {
  font-size: 36px;
  line-height: calc(42 / 36);
  color: var(--color-h);
}

.section-comand {
  background: #f5f4fa;
}
.title-comand {
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: calc(42 / 36);
  color: var(--color-h);
}
.item-comand {
  background: var(--color-whit);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.title-comand {
  font-weight: 500;
  font-size: 16px;
  line-height: calc(19 / 16);
  text-align: center;
  color: var(--color-h);
}
.text-comand {
  font-size: 16px;
  line-height: calc(19 / 16);
  text-align: center;
  color: var(--color-p);
}

.footer {
  background: #2f303a;
}
.contacts-adress {
  font-style: normal;
}
.link-logo-footer {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: calc(31 / 26);
  color: var(--color-blue);
  text-decoration: none;
  color: var(--color-white);
}
.link-adres {
  font-family: "Roboto";
  text-decoration: none;
  line-height: calc(24 / 14);
  color: var(--color-white);
}
