:root {
  --color-blue: #2196f3;
  --color-p: #757575;
  --color-h: #212121;
  --color-white: #ffffff;
}

body {
  font-family: "Roboto";
  color: #f5f5f5;
  font-size: 14px;
  letter-spacing: 0.03em;
}
header {
  border-bottom: 1px solid #ececec;
}
.conteiner {
  width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.header-cont {
  display: flex;
}
.header-nav {
  display: flex;
  align-items: center;
  margin-right: auto;
}
.list-nav {
  display: flex;
  gap: 50px;
  align-items: center;
}
.list-nav-adres {
  display: flex;
  align-items: center;
  gap: 50px;
}

span {
  font-family: "Raleway";
  font-size: 26px;
  line-height: calc(31 / 26);
  color: var(--color-blue);
}

.link-logo {
  color: #000000;
  font-weight: 700;
  font-size: 26px;
  line-height: calc(31 / 26);
  text-decoration: none;
  margin-right: 93px;
  padding-top: 24px;
  padding-bottom: 25px;
}

.link-nav {
  display: inline-block;
  text-decoration: none;
  font-weight: 500;
  line-height: calc(16 / 14);
  letter-spacing: 0.02em;
  color: var(--color-h);

  padding: 32px 0;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link-nav-s {
  position: relative;
  text-decoration: none;
  font-weight: 500;
  line-height: calc(16 / 14);
  letter-spacing: 0.02em;
  color: var(--color-blue);
  padding: 32px 0;
}

.link-nav-s::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  bottom: 0;
  right: 0;
  background: #2196f3;
  border-radius: 2px;
}

.link-nav:hover,
.link-nav:focus {
  color: var(--color-blue);
}

.icon-header {
  fill: currentColor;
}

.link {
  display: flex;
  align-items: center;
  font-weight: 500;
  line-height: calc(16 / 14);
  letter-spacing: 0.02em;
  color: var(--color-p);
  padding: 32px 0;
  text-decoration: none;
  gap: 10px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.link:hover,
.link:focus {
  color: var(--color-blue);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.hero {
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  background: #2f303a;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../css/images.css/Img-hero.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 200px 0;
  text-align: center;
}

.hero-title {
  width: 696px;
  margin-left: auto;
  margin-right: auto;
  font-weight: 900;
  font-size: 44px;
  line-height: calc(60 / 44);
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--color-white);
}

.button {
  margin-top: 30px;
  font-weight: 700;
  font-size: 16px;
  letter-spacing: 0.06em;
  width: 216px;
  height: 50px;
  color: var(--color-white);
  background: var(--color-blue);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  cursor: pointer;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 5;
  background: rgba(0, 0, 0, 0.2);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 528px;
  height: 581px;

  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.modal-btn {
  position: absolute;
  top: 8px;
  right: 8px;

  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;

  border-radius: 50%;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.icon-close {
  width: 18px;
  height: 18px;
  fill: #000000;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.list-skiills {
  display: flex;
  gap: 30px;
}
.feauter {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f5f4fa;
  border-radius: 4px;
  height: 120px;
  margin-bottom: 30px;
}

.title-skills {
  font-size: 14px;
  line-height: calc(16 / 14);
  text-transform: uppercase;
  margin-bottom: 10px;
  color: var(--color-h);
}

.text-skills {
  width: 270px;
  height: 72px;
  line-height: calc(24 / 14);
  color: var(--color-p);
}

.work {
  padding-top: 0;
}
.title-about {
  margin-bottom: 50px;
  text-align: center;
  font-size: 36px;
  line-height: calc(42 / 36);
  color: var(--color-h);
}
.list-about {
  display: flex;
  margin: 0px;
  padding: 0px;
  gap: 30px;
}

.about {
  position: relative;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.about-text {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 70px;
  bottom: 0;

  background: rgba(47, 48, 58, 0.8);
}

.titl-about {
  font-family: "Roboto";
  font-size: 14px;
  line-height: 16px;

  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: #ffffff;
}

.comand {
  background-color: #f5f4fa;
}
.tumb {
  padding: 30px 0px;
}
.title-comand {
  margin-bottom: 50px;
  text-align: center;
  font-size: 36px;
  line-height: calc(42 / 36);
  color: var(--color-h);
}
.list-comand {
  display: flex;
  margin: 0px;
  padding: 0px;
  gap: 30px;
}
.item-comand {
  flex-basis: calc((100% - 3 * 30px) / 4);
  background-color: var(--color-white);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.title {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: calc(19 / 16);
  text-align: center;
  color: var(--color-h);
}
.text-comand {
  font-size: 16px;
  line-height: calc(19 / 16);
  text-align: center;
  color: var(--color-p);
  margin-bottom: 16px;
}

.item-social {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.link-social {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: var(--color-white);
  color: #afb1b8;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.icon-social-comand {
  fill: currentColor;
}
.link-social:hover,
.link-social:focus {
  color: var(--color-white);
  background-color: var(--color-blue);
}

.title-client {
  font-size: 36px;
  line-height: calc(42 / 36);
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--color-h);
  margin-bottom: 50px;
}

.list-client {
  display: flex;
  justify-content: center;
  gap: 30px;
}

.link-client {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 170px;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  color: #afb1b8;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link-client:hover .icon-client,
.link-client:focus .icon-client {
  fill: var(--color-blue);
}
.icon-client {
  fill: currentColor;
}
.link-client:hover,
.link-client:focus {
  border-color: var(--color-blue);
}
.footer {
  background: #2f303a;
  padding: 60px 0px;
}

.conteiner-footer {
  display: flex;
  align-items: baseline;
}
.adress-footer {
  margin-right: 70px;
}

.title-social {
  font-weight: 700;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 20px;

  color: #ffffff;
}

.list-social-footer {
  display: flex;
}

.contacts-adress {
  font-style: normal;
}

.link-logo-footer {
  display: block;
  margin-bottom: 20px;
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: calc(31 / 26);
  color: var(--color-blue);
  text-decoration: none;
  color: var(--color-white);
}
footer li {
  margin-bottom: 9px;
}
footer li:last-child {
  margin-bottom: 0;
}
.link-adres {
  font-family: "Roboto";
  text-decoration: none;
  line-height: calc(24 / 14);
  color: var(--color-white);
}

.link-footer {
  font-weight: 400;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.link-footer:hover,
.link-footer:focus {
  color: var(--color-blue);
}

.item-social-footer {
  display: flex;
  gap: 10px;
  color: var(--color-white);
}

.link-social-footer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  color: var(--color-white);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.icon-social-footer {
  fill: currentColor;
}

.link-social-footer:hover,
.link-social-footer:focus {
  background-color: var(--color-blue);
}
