
.about {
    position: relative;
  
  
    &__img {
    display: block;
    max-width: 100%;
    height: auto;
  }
  
    &__title  {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
  
    width: 100%;
    height: 70px;
    bottom: 0;
  
    background: rgba(47, 48, 58, 0.8);
  }
  
    &__text {
    font-family: "Roboto";
    font-size: 14px;
    line-height: 16px;
  
    letter-spacing: 0.03em;
    text-transform: uppercase;
  
    color: var(--color-akcent);
  }
}