
  .backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 5;
    background: rgba(0, 0, 0, 0.2);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
      visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .backdrop.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }
  
  .backdrop__modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  
    width: 528px;
    height: 581px;
    padding: 40px;
  
    background: var(--color-akcent);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
  }
  
  .backdrop__modal__btn {
    position: absolute;
    top: 8px;
    right: 8px;
  
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
  
    border-radius: 50%;
    background: var(--color-akcent);
    border: 1px solid rgba(0, 0, 0, 0.1);
    cursor: pointer;
  }
  
  .backdrop__modal__icon--close {
    width: 18px;
    height: 18px;
    fill: #000000;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .backdrop__modal__icon--close:hover, .icon-close:focus {
    fill: var(--color-primeri);
  }
  
  
  
  .text-regist-form {
    display: block;
    font-size: 20px;
    line-height: calc(23 / 20) ;
    letter-spacing: 0.03em;
    margin-bottom: 20px;
  
    color: var(--color-h);
  }
  
  .regist-form-group {
    margin-bottom: 12px;
  }
  
  .regist-form-field {
    position: relative;
    display: block;
    margin-bottom: 10px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .regist-form-field:last-child{
    margin-bottom: 0;
  }
  
  
  .regist-form-lable {
    display: flex;
    margin-bottom: 4px;
  
    font-family: "Roboto";
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.01em;
    color: var(--color-p);
   
  }
  
  .register-form-input {
    width: 100%;
    height: 40px;
    padding-left: 42px;
    padding-right: 18px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    outline: transparent;
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .register-form-input:focus {
    border: 1px solid var(--color-primeri);
    border-radius: 4px;
  }
  
  .icon-form {
    position: absolute;
    top: 50%;
    left: 3%;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .register-form-input:focus + .icon-form {
    fill: var(--color-primeri);
  }
  
  .regist-form-agreement {
    display: block;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
  }
  
  
  .uncheckbox-icon{
    opacity: 0;
  }
  
  .register-form-chekbox:checked + .register-form-icon .uncheckbox-icon{
    opacity: 1;
  }
  
  .register-form-masseg {
    display: block;
    width: 100%;
    height: 120px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    padding: 12px 16px;
    outline: transparent;
    resize: none;
  }
  .register-form-masseg:focus {
    border: 1px solid var(--color-primeri);
    border-radius: 4px;
  }
  
  
  .regist-form-btn {
    display: block;
    margin: 0 auto;
  }
  
  .regist-form-desc {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: var(--color-p);
  }
  
  .register-form-link{
    color: var(--color-primeri);
  }
  