
  
  .project {
    margin-top: 50px;
    padding-bottom: 0px;
  }
  
  
  .list-project {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    padding: 0px;
    margin: 0px;
  }
  
  .item-project:hover,
  .item-project:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }
  
  img {
    display: block;
    max-width: 100%;
    height: auto;
  }
  
  .item-project {
    flex-basis: calc((100% - 60px) / 3);
    background:  var(--color-akcent);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .link-project {
    text-decoration: none;
  }
  
  .modal-project {
    position: relative;
    overflow: hidden;
  }
  
  .overlay {
    content: "";
    position: absolute;
    display: inline-block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 63px 24px;
    background: rgba(33, 150, 243, 0.9);
    transform: translateY(100%);
  
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .item-project:hover .overlay,
  .item-project:focus.overlay {
    transform: translateY(0);
  }
  
  .overlay-text {
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0.03em;
    color:  var(--color-akcent);
  }
  
  .tumb {
    border: 1px solid #eeeeee;
    border-top: 0px;
    padding: 20px 24px;
  }
  .title-project {
    margin-bottom: 4px;
    font-size: 18px;
    line-height: calc(36 / 18);
    letter-spacing: 0.06em;
    color: #212121;
  }
  .text-project {
    font-size: 16px;
    line-height: calc(30 / 16);
    letter-spacing: 0.03em;
    color: var(--color-p);
  }