
.skills {
  padding-top: 60px;
  padding-bottom: 60px;

   @media screen and (min-width: 1200px){
    padding-top: 94px;
    padding-bottom: 94px;
   }
 
}

.skills__list{

  @media screen and(min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
        gap: 30px;
   
      }

  @media screen and(min-width: 1200px) {
    display: flex;
    flex-wrap: nowrap;  
  }

  }

  .skills__item{
    margin-bottom: 30px;

       @media screen and(min-width: 768px) {
          flex-basis: calc( (738px - 30px) / 2);  
    }
    
    @media screen and(min-width: 768px) {
      margin-bottom: 0;
    }

  }


  .skills__item:last-child{
    margin-bottom: 0;
  }

   
  
    .skills__feauter {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #f5f4fa;
    border-radius: 4px;
    height: 120px;
    margin-bottom: 30px;
  }
  
  .skills__title {
    text-align: center;
    font-size: 14px;
    line-height: calc(16 / 14);
    text-transform: uppercase;
     margin-bottom: 10px;
    color: var(--color-h);
    @media screen and (min-width: 768px) and (max-width: 1199px) {
      text-align: start;
      
    }
  }
  
  .skills__text {
    height: 72px;
    line-height: calc(24 / 14);
    color: var(--color-p);
  }
